/*
 * This css file overrides and adds to the bootstrap stuff
*/
body {
    background-image: url("../images/concrete_seamless.png");
    background-repeat: repeat;
    background-color: #ffffff;
}

/* Had to do this since fixed footer was covering bottom of content */
.main-content {
    margin-bottom: 70px
}
.nav-item{
    text-align: right;
}

/* We occasionally use media queries that go in the other direction (the given screen size or smaller): */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .size-xs-full {
        width: 100%;
    }
}