/*
 * This css file overrides and adds to the bootstrap stuff
*/
body {
    background-image: url("../images/concrete_seamless.png");
    background-repeat: repeat;
    background-color: #ffffff;
}

/* Had to do this since fixed footer was covering bottom of content */
.main-content {
    margin-bottom: 70px;
}

.my-bg-primary {
    background-color: #4aaaa5;
    color: #ffffff;
}

.my-bg-reverse {
    background-color: #ffffff;
    color: #4aaaa5;
}

.my-text-primary {
    color: #777777;
}

.my-border-top {
    border-top: 8px solid #4aaaa5;
}

.my-border-bottom-2 {
    border-bottom: 2px solid;
}

.my-border-secondary {
    border-color: #dddddd;
}

/* override bootstrap colors and fonts */
.btn-primary {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

/* We occasionally use media queries that go in the other direction (the given screen size or smaller): */
/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 640px) {
    .my-sm-image {
        width: 100%;
    }
    
    .card {
        width: 100%;
        height: auto;
    }

    .card-img {
        width: 100%;
        height: auto;
    }

    .my-bg-primary-sm {
        background-color: #4aaaa5;
        color: #ffffff;
    }

    .my-bg-secondary-sm {
        background-color: #ffffff;
        color: black;
        width: 100%;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }

    /* Had to use important since it was not overirding the row in framework */
    .my-flex-sm-column {
        flex-direction: column !important;
    }

    .my-navbar-sm {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 640px;
    }
}

/* Limit max width of container to match instructions */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}