body {
    background-image: url("../images/concrete_seamless.png");
    background-repeat: repeat;
    background-color: #ffffff;
}

/* We occasionally use media queries that go in the other direction (the given screen size or smaller): */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .size-xs-full {
        width: 100%;
    }
}